.profile{
  max-width: 100vw;
  &_picture{
    max-height: 10vh;

  }
}

.section_contact{
  display: flex;
  position: absolute;

}

.main_photographer{
  @include margin;
}
.h1_page{
  position: relative;
}


#gallery{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section_card{
  margin: 3vh 0;
  &> .card_footer{
    display: flex;
    justify-content: space-between;
    &> .groupHeart{
      display: flex;
    }
  }
}



.gallery_img{
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  object-position: 50% 20%;
}


#section_contact{
  display: none; 
}
