#card_contact{
    position: relative; 
    background-color: #901C1C;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    height: 56px;
}
// #card_contact{
//   left: 35%;
//   top: 21%;
//   background-color: $primary-color;
//   border: none;
//   border-radius: 5px;
//   color: white;
//   width: 170px;
//   height: 69px;
// }

.submit_contact{
  align-self: flex-start;
  background-color: #901C1C;
  padding: 10px 20px;
  margin: 20px 0 30px;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  color: white;
}

#commandSlider{
  z-index: 10;
  display: none;
  top: 0;
  position: absolute;
  width: 90vw;
  height: 100vh;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
    &_close{
      background-color: transparent;
      border: none;
      align-self: flex-start;
      top:4%;
    }
}

#lightbox_prev, #lightbox_next{
  color: $primary-color;
  position: absolute;
  cursor: pointer;
}

#lightbox_prev{
  left: 0;
}

#lightbox_next{
  right: 0;
}

button{
  // position: absolute;
  border: none;
  cursor: pointer;
}