.lightbox{
  display: flex;
  position: absolute;
  width: 90vw;
    margin: auto;
    top:0;
    left: 0;
    align-items: center;
    z-index: 10;
}

.hidden{
  display: none;
}

.visible{
  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
}

.lightbox{
  display: flex;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: white;
}

#lightbox_section{
  max-width: 70vw;
  height: 90vh;
  justify-content: center;
  flex-direction: column;
}

#lightbox_img{
  max-width: 100%;
  max-height: 100%;
}

#modal{
  display: block;
  width: 50vw;
  height: 15vh;
  background-color: lawngreen;
}

